<header class="bg-white py-3 border-b sticky top-0 z-20">
  <div class="mx-auto lg:px-5 px-4">
    <div class="flex items-center">
      <!-- mobile-only -->
      <div class="lg:hidden ml-2 mr-2.5">
        <button @click="shownMenu" type="button" class="bg-white p-1.5 shadow inline-flex items-center rounded-md text-black hover:bg-gray-200 hover:text-gray-800 border border-transparent">
          <BarsIcon class="w-6 h-5"></BarsIcon>
        </button>
      </div>
      <!-- mobile-only //end  -->
      <!-- Brand -->
      <div class="flex-shrink-0 mr-5">
        <nuxt-link @click="closeMenu" to="/">
          <img class="h-16" src="/svg/bioarcoiris.svg" alt="Bio Arcoiris Srl Bolivia">
        </nuxt-link>
      </div>
      <!-- Brand .//end -->
      
      <!-- Search -->
      <!-- <div class="flex flex-nowrap items-center w-full order-last md:order-none mt-5 md:mt-0 md:w-2/4 lg:w-2/4">
        <input class="flex-grow appearance-none border border-gray-200 bg-gray-100 rounded-md mr-2 py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400" type="text" placeholder="Search">
        <button type="button" class="px-4 py-2 inline-block text-white border border-transparent bg-blue-600 rounded-md hover:bg-blue-700">
          <i class="fa fa-search"></i>
        </button>
      </div> -->
      <!-- Search .//end -->

      <div class="lg:flex items-center space-x-2 ml-auto hidden">
        <span class="relative inline-flex">
          <nuxt-link @click="closeMenu" to="/" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow rounded-md text-green-500 bg-white transition ease-in-out duration-150">
            Inicio
          </nuxt-link>
        </span>
        <span class="relative inline-flex">
          <nuxt-link @click="closeMenu" to="/#empresa" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow rounded-md text-green-500 bg-white transition ease-in-out duration-150">
            Empresa
          </nuxt-link>
        </span>
        <span class="relative inline-flex">
          <nuxt-link @click="closeMenu" to="/catalogo/" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow rounded-md text-green-500 bg-white transition ease-in-out duration-150">
            Catálogo
          </nuxt-link>
        </span>
        <span class="relative inline-flex">
          <nuxt-link @click="closeMenu" to="/noticias/" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow rounded-md text-green-500 bg-white transition ease-in-out duration-150">
            Noticias
          </nuxt-link>
        </span>
        <span class="relative inline-flex">
          <nuxt-link @click="closeMenu" to="/#contactenos" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow rounded-md text-green-500 bg-white transition ease-in-out duration-150">
            Contáctenos
          </nuxt-link>
        </span>
      </div>
      <!-- Actions -->
      <div class="flex items-center space-x-2 ml-auto">
        <span @click="showCart" class="relative inline-flex cursor-pointer">
          <button type="button" class="inline-flex items-center lg:px-5 px-2.5 py-2 font-semibold leading-6 text-sm shadow rounded-md text-green-500 bg-white transition ease-in-out duration-150 hover:ring-slate-200/20">
            <CartIcon class="w-6 h-6"></CartIcon>
          </button>
          <span class="flex absolute h-5 w-5 top-0 right-0 -mt-1 -mr-1">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-500 opacity-75"></span>
            <span class="relative inline-flex justify-center items-center rounded-full h-5 w-5 bg-green-600 text-white text-sm">{{ notifyQuantity }}</span>
          </span>
        </span>
      </div>
      <!-- Actions .//end -->
    </div> <!-- flex grid //end -->
  </div> <!-- container //end -->
</header>
<Transition>
  <ShowCartRight
    v-show="store.openCart"
    :cart="store.cart"
    @close="closeCart"
  ></ShowCartRight>
</Transition>
<Transition>
  <ShowMenuHeader
    v-show="openMenuHeader"
    @close="closeMenu"
  >
    <ul class="flex flex-col items-center px-2 w-full uppercase">
      <li class="relative w-full mb-3">
        <nuxt-link @click="closeMenu" to="/" class="w-full border border-gray-50 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow justify-center rounded-md text-green-500 bg-white transition ease-in-out duration-150">
          Inicio
        </nuxt-link>
      </li>
      <li class="relative w-full mb-3">
        <nuxt-link @click="closeMenu" to="/#empresa" class="w-full border border-gray-50 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow justify-center rounded-md text-green-500 bg-white transition ease-in-out duration-150">
          Empresa
        </nuxt-link>
      </li>
      <li class="relative w-full mb-3">
        <nuxt-link @click="closeMenu" to="/catalogo/" class="w-full border border-gray-50 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow justify-center rounded-md text-green-500 bg-white transition ease-in-out duration-150">
          Catálogo
        </nuxt-link>
      </li>
      <li class="relative w-full mb-3">
        <nuxt-link @click="closeMenu" to="/noticias/" class="w-full border border-gray-50 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow justify-center rounded-md text-green-500 bg-white transition ease-in-out duration-150">
          Noticias
        </nuxt-link>
      </li>
      <li class="relative w-full mb-3">
        <nuxt-link @click="closeMenu" to="/#contactenos" class="w-full border border-gray-50 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm hover:shadow justify-center rounded-md text-green-500 bg-white transition ease-in-out duration-150">
          Contáctenos
        </nuxt-link>
      </li>
    </ul>  
  </ShowMenuHeader>
</Transition>