<div class="relative bg-amber-900 pb-4"><img src="/images/footer.png" alt="footer"
    class="w-full h-full absolute object-cover opacity-70">
  <footer class="relative text-white px-2.5 sm:px-3.5 lg:px-10 xl:px-32 2xl:px-40 pt-24 pb-4">
    <div class="flex flex-col md:flex-row">
      <div class="w-full lg:w-3/12 mt-8 lg:mt-0 lg:mx-4 flex flex-col items-start">
        <h5 class="uppercase tracking-wider font-semibold mb-2.5">Nuestra Misión</h5>
        <p class="text-sm font-light mb-1">
          Satisfacer la creciente demanda integral de servicios de administración de edificios y condominios.
        </p>
        <p class="text-sm font-light">
          Considerando fundamentalmente el profesionalismo, experiencia y capacidad de nuestro equipo multidisciplinario
          de trabajo, aplicando en la ejecución del trabajo nuestros sólidos valores de honestidad, responsabilidad y
          transparencia.
        </p>
      </div>
      <div class="w-full lg:w-3/12 mt-8 lg:mt-0 lg:mx-4 flex flex-col items-start">
        <h5 class="uppercase tracking-wider font-semibold mb-2.5">Nuestra Visión</h5>
        <p class="text-sm font-light mb-1">
          Ser una empresa referente a nivel nacional en la Administración integral de edificio y condominios.
        </p>
        <p class="text-sm font-light">
          Brindando un servicio de alta calidad y excelencia, asegurando de esta manera la plena satisfacción de las
          necesidades de nuestros clientes en base a criterios de eficacia, eficiencia, economía y efectividad.
        </p>
      </div>
      <div class="w-full lg:w-3/12 mt-8 lg:mt-0 lg:mx-4 lg:pr-8 mb-4">
        <h5 class="uppercase tracking-wider font-semibold">Detalles de Contacto</h5>
        <ul class="mt-4">
          <li class="mt-4"><a href="#" title="" class="flex items-center opacity-75 hover:opacity-100"><span><svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                  <path
                    d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z">
                  </path>
                  <path d="M13 7L11 7 11 13 17 13 17 11 13 11z"></path>
                </svg></span> <span class="ml-3">
                Lun - Vie: 9:00 - 19:00<br>
                Cerrado fin de semana
              </span></a></li>
          <li class="mt-4"><a href="http://wa.me/59169862753" target="_blank" rel="noopener noreferrer" title=""
              class="flex items-center opacity-75 hover:opacity-100"><span><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                  <path
                    d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z">
                  </path>
                </svg></span> <span class="ml-3">
                +591 6986273 (Whatsapp)
              </span></a></li>
          <li class="mt-4"><a href="mailto:gerencia@carvajalservicios.com" title=""
              class="flex items-center opacity-75 hover:opacity-100"><span><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                  <path
                    d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z">
                  </path>
                </svg></span> <span class="ml-3">
                gerencia@carvajalservicios.com
              </span></a></li>
        </ul>
      </div>
      <div class="w-full lg:w-3/12 lg:mx-4 lg:pr-8 flex flex-col items-center">
        <img src="/svg/bioarcoiris-white.svg" alt="Carvajal - Servicios Integrales" class="max-w-xs mb-1 px-5">
        <p class="text-gray-200 text-center mb-2.5">Servicio financiero para edificios y condominios.</p>
        <p class="text-sm text-center text-gray-400 mb-4">© 2023 Carvajal - Servicios Integrales. Todos los derechos
          reservados.</p>
      </div>
    </div>
    <div class="mb-10"></div>
  </footer>
</div>