<div class="relative bg-green-500 pb-4"><img src="/images/footer.png" alt="footer"
    class="w-full h-full absolute object-cover opacity-50">
  <footer class="relative text-white px-2.5 sm:px-3.5 lg:px-10 pt-24 pb-4">
    <div class="flex flex-col lg:flex-row">
      <div class="w-full lg:w-4/12 mt-8 lg:mt-0 lg:mx-3 md:mx-8 flex flex-col items-start">
        <h5 class="uppercase tracking-wider font-semibold mb-2.5">Nuestros Desafios</h5>
        <ul class="text-sm">
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Consolidar a la cooperativa en una cooperativa sostenible.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Obtener un ambiente propio dentro de las zonas de trabajo.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Mejorar nuestro laboratorio de café.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Acondicionar nuestra planta de beneficiado húmedo y seco.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
          <span>Realizar talleres de a gobernanza y liderazgo.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Concientizar aun mas a nuestros productores en el cuidado del medio ambiente y ecosistemas de
              importancia hídrica.</span>
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-4/12 lg:mt-0 lg:mx-3 md:mx-8 flex flex-col items-start">
        <h5 class="uppercase tracking-wider font-semibold lg:mb-2.5 lg:invisible lg:block hidden">.</h5>
        <ul class="text-sm">          
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Obtener un ambiente propio dentro de las zonas de trabajo.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Fomentar a equidad de genero entre nuestros socios/as para la replica en nuestras comunidades</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Mejorar el manejo del café especial.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Incluirnos en los mercados digitales en nuestro sitio web institucional.</span>
          </li>
          <li class="flex mb-2 justify-start items-start">
            <ArrowIcon class="flex-none w-3 h-3 mr-2 text-lime-100 tranform rotate-90"></ArrowIcon>
            <span>Fortalecer el área de la cafetería y marca cooperativa.</span>
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-4/12 lg:mx-6 lg:pr-8 mt-2">
        <div class="flex flex-col items-center">
          <img src="/svg/bioarcoiris-white.svg" alt="Coperativa - Bio Arcoiris R. L" class="max-w-xs mb-1 px-5">
          <p class="text-gray-200 text-sm text-center mb-5">"Empresa social y de servicio agroecológico, sostenible y amigable
            con el medio ambiente."</p>
        </div>
        <div class="text-sm flex flex-col lg:items-start items-center">
          <h5 class="uppercase tracking-wider font-semibold">Detalles de Contacto</h5>
          <ul class="mt-2">
            <li class="mt-2"><a href="http://wa.me/59175805037" target="_blank" rel="noopener noreferrer" title=""
                class="flex items-center opacity-75 hover:opacity-100"><span><svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                    <path
                      d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z">
                    </path>
                  </svg></span> <span class="ml-3">
                  +591 75805037
                </span></a></li>
            <li class="mt-3"><a href="mailto:gerencia@bioarcoiris.org" title=""
                class="flex items-center opacity-75 hover:opacity-100"><span><svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                    <path
                      d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z">
                    </path>
                  </svg></span> <span class="ml-3">
                  gerencia@bioarcoiris.org
                </span></a></li>
            <li class="flex items-start my-2">
              <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="flex-none w-6 h-6 mr-4"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
              <div>
                <p><b>Dirección:</b> Av. Juan Bautista de la Sagarnaga, Coroico, Bolivia</p>
                <p>BOLIVIA, LA PAZ - COROICO</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="text-sm text-center text-gray-400 mb-4 mt-12">© {{ new Date().getFullYear() }} Cooperativa Multiactiva Bio Arcoíris R.L. Todos los derechos reservados.</p>
    <p class="text-[0.7rem] text-center opacity-40 text-gray-400 mt-5">
      <a href="https://www.linkedin.com/in/fernandoaveranga/" target="_blank" rel="noopener noreferrer">
        Programación y Desarrollo web por: <b>Fernando Averanga</b>
      </a>
    </p>
  </footer>
</div>